.container {
    display: grid;
    grid-template-columns: 1fr;
    row-gap: 15px;
    position: relative;
}

.card {
    position: relative;
    display: grid;
    grid-template: "thumbnail title" 37px "thumbnail details" 20px "thumbnail empty" 35px / 172px 600px;
}

.card>img {
    grid-area: thumbnail;
    border-radius: 10px;
    position: relative;
}

.card .duration {
    position: absolute;
    grid-area: thumbnail;
    z-index: 1;
    bottom: 5px;
    right: 10px;
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
    border-radius: 5px;
    padding: 2px;
    font-size: small;
}

.card>h2 {
    position: relative;
    grid-area: title;
    font-size: 20px;
    font-weight: 500;
    margin-block-start: 2px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    margin-bottom: 0px;
}

.detail {
    position: relative;
    grid-area: details;
    display: flex;
    gap: 8px;
    font-size: 14px;
    color: rgb(85, 85, 85);
}
